.mantle {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}


.mantle .mantle-center {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}