.exit {}


.exit-active {
    opacity: 0;
    transform: scale(0);
    transition: all 2s;
}

.exit-done {}


.enter {
    opacity: 0;
    transform: scale(0);
}


.enter-active {
    transition: all 2s;
    opacity: 1;
    transform: scale(1);
}

.enter-done {}